#bg
{
    background-color: aquamarine;
}
#score
{
font-size: 25px;
float:left;
margin-left: 15px;
}
#timer
{
font-size: 15px;
float:right;
margin-right: 15px;
}
#STBD
{
    color: orange;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}